<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>

</style>
<body>
    <div class="block">
        <h2>Вход</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('login_post') }}">
            <input type="email" name="email" placeholder="Email" required><br><br>
            <input type="password" name="password" placeholder="Пароль" required><br><br>
            <button type="submit">Вход</button>
        </form>
        <a href="{{ url_for('signup_page') }}" class="reg">Регистрация</a>
    </div>
</body>
</html>